body{
    font-family: 'Poppins';
    font-size: var(--font-size);
}
#main-container #forest-icon {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius);
}
#main-container #forest-command {
    background-color: #73A711;
    height: 3rem;
    padding: 0 1rem;
    color: white;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
#main-container #forest-code {
    background-color: #73A711;
    height: 3rem;
    padding: 0 1rem;
    color: white;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
#main-container #forest-code #qr-code {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    top: calc(100% + 1rem);
    transition: opacity 1s;
}